body{
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    height: 100vh;
}
.title{
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    color: #f7f7f7;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: xxx-large;
    /* text-decoration: underline; */
    /* font-weight: bolder; */
    
    
}
.titlem{
    padding: 5vh 10vw 5vh 10vw;
    display: flex;
    color: white;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    
    
}

.para{
    display: flex;
    padding:1vh 2vw 1vh 2vw;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    
}
.box{
    
    margin: 2px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(to bottom,white,rgb(172, 172, 172))
    
}
a{
    text-decoration: none;
    color: inherit;
}
.trade{

    display: flex;
    width: 100%;
    padding: 5vh;
    justify-content: center;
   
}
#trader{
    color: black;
    height: 50px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

}
.input{
    padding: 5vh;
    display: flex;
    justify-content: center;
    
}
.inp{
    color: black;
    margin: 2px;
    background-color: aliceblue;
}

footer{
    padding-top: 5vh;
    margin: 0;
    color: white;
    text-align: center;
    font-size: small;
}



#blob{
    
    background-color: #fff;
    position: absolute;
    height: 300px;
    width: 200px;
    border-radius:1000px;
    background: linear-gradient(to right, aqua,purple);
    filter: blur(100px);
    translate:  -100px -100px;
    z-index: -1;
    animation: rotate 20s infinite;
}
@keyframes rotate{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
::placeholder{
    color: black;
}

#submit{
    margin: 10px;
    padding: 2px;
    position: relative;
    left: 47.5%;
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    height: 30px;
    width: 65px;
    font-size: large;

}
.featurebox{
    /* padding: 10vh; */
    padding-left: 2vh;
    padding-right: 2vh;
    display: flex;
    justify-content: center;
}
.feature{
    
    margin: 2px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(to bottom,white,rgb(176, 186, 255));
}





.select{
    padding: 10px;
    color: #c8c2f9;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.trade{
    display: flex;
    margin-left: 5vh;
    border: 2px solid white;
    height: 100vh;
    width: 90vw;
    flex-wrap: wrap;
}
a{
    
    text-decoration: none;
    /* align-items: c; */
    /* display: flex;
    align-items: center; */
}
.block{
    /* display: flex; */
    margin: 5px;
    padding-top: 10px;
    text-align: center;
    background-color:rgb(213, 218, 255);
    color: rgb(0, 0, 0);
    width: 200px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    /* align-items: center; */
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    

}
.block:hover{
    background-color:rgb(251, 251, 251);
}